.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.fc .fc-toolbar {
  margin-bottom: 1em;
  text-transform: capitalize;
  text-align: center;
}

.fc .fc-col-header-cell {
  text-align: center;
  text-transform: capitalize;
}

.fc .fc-popover {
  border-radius: 12px;
}
